<article class="portfolio" data-page="portfolio">

  <header>
    <h2 class="h2 article-title">Portfolio</h2>
  </header>

  <section class="projects">

    <ul class="filter-list">

      <li class="filter-item">
        <button class="active" data-filter-btn="">All</button>
      </li>

      <li class="filter-item">
        <button data-filter-btn="">Applications</button>
      </li>

      <li class="filter-item">
        <button data-filter-btn="">Web development</button>
      </li>

      <li class="filter-item">
        <button data-filter-btn="">UI/UX</button>
      </li>

    </ul>

    <div class="filter-select-box">

      <button class="filter-select" data-select="">

        <div class="select-value" data-selecct-value="">Select category</div>

        <div class="select-icon">
          <i class="fas fa-chevron-down"></i>
        </div>

      </button>

      <ul class="select-list">

        <li class="select-item">
          <button data-select-item="">All</button>
        </li>

        <li class="select-item">
          <button data-select-item="">Applications</button>
        </li>

        <li class="select-item">
          <button data-select-item="">Web development</button>
        </li>

        <li class="select-item">
          <button data-select-item="">UI/UX</button>
        </li>


      </ul>

    </div>


    <ul class="project-list">

      <li class="project-item  active" data-filter-item="" data-category="applications">
        <a href="https://getjoiner.com" target="_blank">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <i class="fas fa-eye"></i>
            </div>
            <img src="images/joiner.png" alt="Joiner App" loading="lazy">
          </figure>
          <h3 class="project-title">Joiner App</h3>
          <p class="project-category">Application</p>
        </a>
      </li>
      <li class="project-item  active" data-filter-item="" data-category="applications">
        <a href="https://rgn.uz" target="_blank">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <i class="fas fa-eye"></i>
            </div>
            <img src="images/registan.png" alt="Registan" loading="lazy">
          </figure>
          <h3 class="project-title">Registan</h3>
          <p class="project-category">Application</p>
        </a>
      </li>
      <li class="project-item  active" data-filter-item="" data-category="applications">
        <a href="https://malina-app.com" target="_blank">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <i class="fas fa-eye"></i>
            </div>
            <img src="images/malina.png" alt="Malina" loading="lazy">
          </figure>
          <h3 class="project-title">Malina</h3>
          <p class="project-category">Application</p>
        </a>
      </li>
      <li class="project-item  active" data-filter-item="" data-category="applications">
        <a href="https://play.google.com/store/apps/details?id=com.asadbekjanabaev.ARVICoin&hl=en" target="_blank">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <i class="fas fa-eye"></i>
            </div>
            <img src="images/arvicoin.png" alt="ARVICoin" loading="lazy">
          </figure>
          <h3 class="project-title">ARVICoin</h3>
          <p class="project-category">Application</p>
        </a>
      </li>




    </ul>

  </section>

</article>
