<article class="resume" data-page="resume">

  <header>
    <h2 class="h2 article-title">Resume</h2>
  </header>

  <section class="timeline">

    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>
      <h3 class="h3">Education</h3>
    </div>

    <ol class="timeline-list">

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Tashkent University of Information Technologiesy</h4>
        <p class="timeline-text">Bachelor of Software Engineering</p>
        <span>2019 — 2023</span>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">1st Academic Lyceum under QMU</h4>
        <p class="timeline-text">+2 Science</p>
        <span>2017 — 2019</span>
      </li>

    </ol>

  </section>

  <section class="timeline">
    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>
      <h3 class="h3">Experience</h3>
    </div>

    <ol class="timeline-list">

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Middle Flutter Developer</h4>
        <p class="timeline-text">Joiner</p>
        <span data-start-date="2023-02-01">Feb, 2023 — Present<span class="duration"></span></span>
        <p class="timeline-text"><i>Vilnius, Lithuania (Remote)</i></p>
        <ul class="timeline-text">
          <li>Led the development of high-impact features like <strong>"moods"</strong>, increasing user engagement and
            retention metrics significantly.</li>
          <li>Architected and implemented real-time, scalable solutions using Flutter, Firebase, and Dart for thousands
            of
            active users.</li>
          <li>Streamlined performance through widget tree optimization, reducing cold start time and improving
            responsiveness.</li>
          <li>Collaborated closely with designers, QA, and backend engineers in a fast-paced Agile environment to ship
            new
            features consistently.</li>
          <li>Maintained a clean codebase using Riverpod and go_router, ensuring long-term maintainability and
            testability.</li>
        </ul>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Flutter Developer</h4>
        <p class="timeline-text">Malina</p>
        <span data-start-date="2022-05-01" data-end-date="2023-01-31">May, 2022 — Jan, 2023<span
            class="duration"></span></span>
        <p class="timeline-text"><i>Bishkek, Kyrgyzstan (Remote)</i></p>
        <ul class="timeline-text">
          <li>Developed and launched the <strong>Malina e-commerce app</strong>, delivering a modern shopping experience
            across Android and iOS.</li>
          <li>Engineered critical flows like cart, checkout, and order tracking using Firebase Firestore and secure Auth
            mechanisms.</li>
          <li>Delivered fully responsive UIs with pixel-perfect implementations, contributing to high user satisfaction
            scores.</li>
          <li>Built and shipped multiple small-scale applications (e.g., TFS), applying clean architecture principles
            and
            reusable components.</li>
        </ul>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Junior Flutter Developer</h4>
        <p class="timeline-text">Ucoders Software Solutions</p>
        <span data-start-date="2021-09-01" data-end-date="2022-05-01">Sep, 2021 — May, 2022<span
            class="duration"></span></span>
        <p class="timeline-text"><i>Tashkent, Uzbekistan</i></p>
        <ul class="timeline-text">
          <li>Contributed to the development of <strong>ARVI Coin</strong>, a fintech app enabling seamless in-game
            currency purchases.</li>
          <li>Performed unit and widget testing to ensure robust, production-ready code with high test coverage.</li>
          <li>Designed adaptive, scalable UIs compatible across various screen sizes and resolutions.</li>
          <li>Collaborated with senior developers to troubleshoot and optimize feature rollouts.</li>
        </ul>
      </li>

    </ol>
  </section>



  <button class="form-btn" type="button" data-form-btn="" onclick="window.open('./assets/cv/resume.pdf')">
    <ion-icon name="document-text-outline"></ion-icon>
    <span>Download CV</span>
  </button>





</article>